Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?prrobotics.com$
RewriteCond %{REQUEST_URI} !^/www/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /www/$1
RewriteCond %{HTTP_HOST} ^(www.)?prrobotics.com$
RewriteRule ^(/)?$ www/index.php [L]
<FilesMatch /secure/*.*>
Deny from All
</FilesMatch>
ErrorDocument 404 /www/404.html